
/* AIDES elies */
@font-face {
	font-family: "george";
	src: url("/modules/vonv-fvtt-csb-everywhen-module/av-elies/acte2__aides/acte2_aide_ss_ecriture_george.ttf");
}
* div.ecriture-ss p, .ecriture-ss p {
	font-family: "george";
	font-size: 26px;
	line-height: 1.2em;
	margin-bottom: 20px;
}

@font-face {
	font-family: "virginie";
	src: url("/modules/vonv-fvtt-csb-everywhen-module/av-elies/acte1_savannah_aides/acte1_savannah_aide_douglas_ecriture_virginie.ttf");
}
* div.ecriture-douglas p, .ecriture-douglas p {
	font-family: "virginie";
	font-size: 26px;
	line-height: 1.2em;
	margin-bottom: 20px;
}

@font-face {
	font-family: "machine";
	src: url("/modules/vonv-fvtt-csb-everywhen-module/av-elies/aides_et_ambiance/adj_machine_a_ecrire.ttf");
}
* div.machine01 p, .machine01 p {
	font-family: "machine";
	font-size: 26px;
	line-height: 1.2em;
	margin-bottom: 20px;
}

